#sa {
    border-radius: 50%;
    width: 150px;
    border: 6px solid rgb(238, 177, 228);
    text-align: center;

}

body {
    font-family: 'quicksand';
    background-color: rgb(0, 0, 0);
    color: white;
}

h1 {

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
}

#ta {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#qw {
    width: 100px;
    background-color: rgb(238, 177, 228);
    border: 0;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;

}

#we {
    border-radius: 50px;
    width: 400px height: 400px;
    border: 5px solid #fffffff;
    width: 400px;
    height: 400px;
    background-image: url("https://github.com/22TK/Birthday/blob/main/Bday/downloads/y.jpg");
    background-size: cover;

}

#we:hover {
    background-image: url("https://github.com/22TK/Birthday/blob/main/Bday/downloads/w.webp");
}

#id {
    border-radius: 50px;
    width: 400px height: 400px;
    border: 5px solid black;
    width: 400px;
    height: 400px;
    background-image: url("https://github.com/22TK/Birthday/blob/main/Bday/downloads/y.jpg");
    background-size: cover;
}

#id:hover {
    background-image: url("https://github.com/22TK/Birthday/blob/main/Bday/downloads/45.webp");
}
